@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik.ttf");
}

@font-face {
  font-family: "Rubik";
  font-style: bold;
  font-weight: 600;
  src: url("/fonts/rubik.ttf");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/rubik-italic.ttf");
}

@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
  width: 480px;
  height: 480px;
  z-index: 0;
}

@media (min-width: 1024px) {
  #contact-us-hero {
    height: calc(100vh - 530px);
  }
}

@media (min-width: 1224px) {
  #timetable {
    height: calc(100vh - 180px);
  }
}

body {
  @apply font-rubik;
  min-width: 640px;
}

@media (max-width: 640px) {
  aside.behold-pg-container,
  div.behold-pg-inner,
  div.behold-ps-container {
    height: 2000px !important;
  }
}
